extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nulla et omnis eos fuga minima! Quisquam accusantium laudantium, sequi dolores distinctio a. Delectus, minima quasi numquam ullam iste magni optio!Nemo numquam pariatur eligendi. Dolores dolorem, pariatur vel atque odit aperiam dolorum! Qui tenetur ducimus, fugiat perspiciatis eum perferendis dolorem cum, voluptatibus libero aperiam, eligendi atque corrupti unde aliquam autem.
                p
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales