extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor sit amet consectetur adipisicing elit. Nam repellendus iusto deserunt quaerat sint similique? Sapiente,quaerat consequatur hic facere nulla voluptatibus tempora, amet veritatis harum, delectus voluptatum reprehenderit?Minima earum ad cumque unde totam cum. Architecto dolorem aperiam facilis voluptatum totam ab non aut delectus magni maxime deleniti, vel veritatis dolorum ex velit iure explicabo pariatur soluta nulla!

                p Minima earum ad cumque unde totam cum. Architecto dolorem aperiam facilis voluptatum totam ab non aut delectus magni maxime deleniti, vel veritatis dolorum ex velit iu re explicabo pariatur soluta nulla!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet corporis non obcaecati quaerat explicabo rerum nesciunt molestiae sunt odit molestias eligendi, esse recusandae repellendus sed nihil possimus dolor atque nostrum?Ratione magnam odio minus a facere velit dolor dolore sequi vero blanditiis fuga iusto tenetur sapiente, quae nostrum ab fugit sint optio cumque porro quam numquam accusantium, obcaecati sed. Quam!

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Hola que tal chabaveles ctodo bien todo correcto y yo que me alegro estaba pemnsasdsfasdfsd a gvadsfg 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Hola que tal chabaveles ctodo bien todo correcto y yo que me alegro estaba pemnsasdsfasdfsd a gvadsfg 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Hola que tal chabaveles ctodo bien todo correcto y yo que me alegro estaba pemnsasdsfasdfsd a gvadsfg 